<div id="wifi-area">
  <p>Wifi Settings</p>
  <p>
    <input type="checkbox" id='wifi-enable' (click)="toggleMain()">
    <label>Enable wifi:</label>
  </p>
  <div class="main" [class.block]="visibility">
    <div>
    <p class="custom"> 
      <label>Wireless Network Name: <span>*</span> </label> 
      <select>
        <option disabled selected>Please select</option>
        <option>SSID 1</option>
        <option>SSID 2</option>
        <option>SSID 3</option>
      </select>
      <button type="button"></button>
    </p>
    </div>
    <p>
      <input type="checkbox" id='wifi-secutirykey' (click)="toggleKey()">
      <label>Enable Wifi Security:</label>
    </p>
    <div>
    <p class="custom" [class.block]="visibilitykey"> 
      <label>Security Key: <span>*</span> </label> 
      <input type="text">
    </p>
    </div>

    <p>
      <input type="radio" name="wifi-ip" id='wifi-ip-default' (click)="addBlockIP()" checked>
      <label>Obtain an IP address automaticaly (DHCP/BootP)</label>
    </p>
    <p>
      <input type="radio" name="wifi-ip" id='wifi-ip-custom' (click)="removeBlockIP()">
      <label>Use the gollowing IP address:</label>
    </p>
    <div id="wifi-iparea" [class.block]="visibilityip"> 
      <p class="custom"> 
        <label>IP-address: <span>*</span> </label> 
        <input type="text" id='wifi-ip-address'>
      </p>
      <p class="custom"> 
        <label>Subnet Mask: <span>*</span> </label> 
        <input type="text" id='wifi-ip-mask'>
      </p>
      <p class="custom"> 
        <label>Default Gateway:</label> 
        <input type="text" id='wifi-ip-gateway'>
      </p>
    </div>

    <p>
      <input type="radio" name="wifi-dns" id='wifi-dns-default' (click)="addBlockDNS()" checked>
      <label>Obtain DNS server address automaticaly</label>
    </p>
    <p>
      <input type="radio" name="wifi-dns" id='wifi-dns-custom' (click)="removeBlockDNS()">
      <label>Use the following DS server address</label>
    </p>

    <div id="wifi-dnsarea" [class.block]="visibilitydns">
      <p class="custom"> 
        <label>Prefered DNS server: <span>*</span> </label> 
        <input type="text" id='wifi-dns-pref'>
      </p>
      <p class="custom"> 
        <label>Alternative DNS server: </label> 
        <input type="text" id='wifi-ip-alter'>
      </p>
    </div>
  </div>
</div>