div {
    display: inline-block;
    width: 90%;
    margin-left: 10%;
}

#wifi-area {
    display: inline-block;
    width: 50%;
    height: 50em;
    margin: 0 0 0 0;
    padding: 1em 1em 1em 1em;
    border-top: 1px black solid;
    border-bottom: 1px black solid;
    border-right: 1px black solid;
}

.custom {
    float: right;
}

.custom input {
    width: 25em;
    margin-left: 1em;
}

select {
    width: 20em;
    margin-left: 1em;
    margin-right: 1em;
}

span {
    color: red;
}

button {
    margin-right: 2em;  
}