div {
    display: inline-block;
    width: 90%;
    margin-left: 10%;
}

#wifi-area {
    display: inline-block;
    width: 50%;
    height: 50em;
    margin: 0 0 0 0;
    padding: 1em 1em 1em 1em;
    border-top: 1px black solid;
    border-bottom: 1px black solid;
    border-right: 1px black solid;
}

.main {
    width: 100%;
    margin-left: 0;
}

.custom {
    float: right;
}

.custom input {
    width: 25em;
    margin-left: 1em;
    height: 2.5em;
}

select {
    width: 20em;
    margin-left: 1em;
    margin-right: 1em;
    height: 2.5em;
}

span {
    color: red;
}

button {
    margin-right: 2em;  
    background: url('../../../resoures/refresh_icon.svg');
    height: 1.7em;
    width: 1.7em;
    border-radius: 50%;
    border: 1px black solid;
}

.block {
    pointer-events: none;
    opacity: 0.4;
}