div {
    display: inline-block;
    width: 90%;
    margin-left: 10%;
}

#ethernet-area {
    float: left;
    width: 50%;
    height: 50em;
    margin: 0 0 0 0;
    padding: 1em 1em 1em 1em;
    border: 1px black solid;
}

.block {
    pointer-events: none;
    opacity: 0.4;
}


.custom {
    float: right;
}

.custom input {
    width: 25em;
    margin-left: 1em;
    height: 2.5em;
}

span {
    color: red;
}